@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root .theme-1{
  --color-primary-: 254, 246, 90;
  --color-second-: 134, 164, 210;
  --color-third-: 229, 149, 150;
  --color-fourtth-: 80, 50, 87
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */
